In [2]:
import pandas as pd
from pandas import Series, DataFrame
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
pd.__version__

'1.2.3'

In [4]:
filename = "Recognized_Shop_Healthy_Stores.csv"

In [13]:
df1 = pd.read_csv(filename, usecols = 'Store Name, Street Address, Borough, Year Awarded, Council District, NTA'.split(', '))

In [25]:
df1.head()

,Store Name,Street Address,Borough,Year Awarded,Council District,NTA
0,SIRAH 1720 LLC,535 MARCY AVE,Brooklyn,2020,36.0,Bedford
1,FIRST STOP GROCERY INC,643 MARCY AVE,Brooklyn,2020,36.0,Bedford
2,AANDE DIRECT LLC,40 LEWIS AVE,Brooklyn,2020,36.0,Stuyvesant Heights
3,CENTRAL ORGANIC,67 CENTRAL AVE,Brooklyn,2020,34.0,Bushwick South
4,194 THROOP FOOD CORP,777 PARK AVE,Brooklyn,2020,36.0,Bedford

In [30]:
store_count_by_nta = df1.groupby('NTA')['Store Name'].count()