In [2]:
import pandas as pd
from pandas import Series, DataFrame
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
pd.__version__

'1.2.3'

In [4]:
filename1 = "Recognized_Shop_Healthy_Stores.csv"

In [13]:
df1 = pd.read_csv(filename, usecols = 'Store Name, Street Address, Borough, Year Awarded, Council District, NTA'.split(', '))

In [25]:
df1.head()

,Store Name,Street Address,Borough,Year Awarded,Council District,NTA
0,SIRAH 1720 LLC,535 MARCY AVE,Brooklyn,2020,36.0,Bedford
1,FIRST STOP GROCERY INC,643 MARCY AVE,Brooklyn,2020,36.0,Bedford
2,AANDE DIRECT LLC,40 LEWIS AVE,Brooklyn,2020,36.0,Stuyvesant Heights
3,CENTRAL ORGANIC,67 CENTRAL AVE,Brooklyn,2020,34.0,Bushwick South
4,194 THROOP FOOD CORP,777 PARK AVE,Brooklyn,2020,36.0,Bedford

In [34]:
store_count_by_nta = df1.groupby(['NTA', 'Borough'])['Store Name'].count()

In [57]:
store_count_by_nta.sort_values(ascending = False)

NTA                                Borough
Brownsville                        Brooklyn    37
Mount Hope                         Bronx       37
East Harlem North                  New York    34
East Harlem South                  New York    34
East Tremont                       Bronx       23
Central Harlem North-Polo Grounds  New York    22
East New York                      Brooklyn    18
Claremont-Bathgate                 Bronx       17
Cypress Hills-City Line            Brooklyn    17
University Heights-Morris Heights  Bronx       14
Longwood                           Bronx       10
Rugby-Remsen Village               Brooklyn     9
Crotona Park East                  Bronx        9
Belmont                            Bronx        8
Fordham South                      Bronx        8
East Williamsburg                  Brooklyn     7
Bedford                            Brooklyn     7
Bedford Park-Fordham North         Bronx        6
Hunts Point                        Bronx        5
East Concourse-Concourse Village   Bronx        5
Morrisania-Melrose                 Bronx        5
Bushwick South                     Brooklyn     5
Melrose South-Mott Haven North     Bronx        4
Ocean Hill                         Brooklyn     4
Stuyvesant Heights                 Brooklyn     3
Mott Haven-Port Morris             Bronx        2
East New York (Pennsylvania Ave)   Brooklyn     2
Bushwick North                     Brooklyn     1
Name: Store Name, dtype: int64

In [58]:
filename2 = 'nyc2010census_tabulation_equiv.csv'
df2 = pd.read_csv(filename2, 
                  usecols = [0, 1, 2, 3, 4, 5, 6], 
                  skiprows = 5, 
                  names = 'Borough, 2010 Census Bureau FIPS County Code, 2010 NYC Borough Code, 2010 Census Tract, PUMA, Code, NTA'.split(', '))

In [59]:
df2

,Borough,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA,Code,NTA
0,Bronx,5,2,31000,3704,BX31,Allerton-Pelham Gardens
1,Bronx,5,2,31200,3704,BX31,Allerton-Pelham Gardens
2,Bronx,5,2,31400,3704,BX31,Allerton-Pelham Gardens
3,Bronx,5,2,31600,3704,BX31,Allerton-Pelham Gardens
4,Bronx,5,2,31800,3704,BX31,Allerton-Pelham Gardens
...,...,...,...,...,...,...,...
2163,Staten Island,85,5,16901,3903,SI07,Westerleigh
2164,Staten Island,85,5,18701,3903,SI07,Westerleigh
2165,Staten Island,85,5,18901,3903,SI07,Westerleigh
2166,Staten Island,85,5,19700,3903,SI07,Westerleigh
2167,Staten Island,85,5,20100,3903,SI07,Westerleigh

In [60]:
df2.groupby('NTA')['Borough'].count()

NTA
Airport                                        2
Allerton-Pelham Gardens                       11
Annadale-Huguenot-Prince's Bay-Eltingville     6
Arden Heights                                  4
Astoria                                       23
                                              ..
park-cemetery-etc-Bronx                        7
park-cemetery-etc-Brooklyn                    11
park-cemetery-etc-Manhattan                    7
park-cemetery-etc-Queens                      16
park-cemetery-etc-Staten Island                2
Name: Borough, Length: 195, dtype: int64

In [71]:
combined = pd.merge(df1, df2, 
                    how = 'outer', on = ['NTA', 'Borough'])

In [72]:
combined.head()

,Store Name,Street Address,Borough,Year Awarded,Council District,NTA,2010 Census Bureau FIPS County Code,2010 NYC Borough Code,2010 Census Tract,PUMA,Code
0,SIRAH 1720 LLC,535 MARCY AVE,Brooklyn,2020.0,36.0,Bedford,47.0,3.0,23300.0,4003.0,BK75
1,SIRAH 1720 LLC,535 MARCY AVE,Brooklyn,2020.0,36.0,Bedford,47.0,3.0,24100.0,4003.0,BK75
2,SIRAH 1720 LLC,535 MARCY AVE,Brooklyn,2020.0,36.0,Bedford,47.0,3.0,24300.0,4003.0,BK75
3,SIRAH 1720 LLC,535 MARCY AVE,Brooklyn,2020.0,36.0,Bedford,47.0,3.0,24500.0,4003.0,BK75
4,SIRAH 1720 LLC,535 MARCY AVE,Brooklyn,2020.0,36.0,Bedford,47.0,3.0,24900.0,4003.0,BK75

In [79]:
combined = combined[combined['Borough'] != 'Queens']

In [85]:
combined = combined[combined['Store Name'].notnull()]

In [86]:
combined.to_csv('combined_by_NTA.csv')

In [87]:
!open 'combined_by_NTA.csv'